@media screen and (width <= 2000px) {
  #valid_button button {
    top: 1vh;
  }
}

@media screen and (width <= 1750px) {
  #valid_button button {
    top: -9vh;
    right: 7%;
  }
}

@media screen and (width <= 1740px) {
  #panier_title-icon-button {
    right: 7.5vw;
  }
}

@media screen and (width <= 1445px) {
  #valid_button button {
    top: -9vh;
  }
}

@media screen and (width <= 1255px) {
  #produit_delete {
    top: -10vh;
    width: 30%;
    left: 17vw;
  }
}

@media screen and (width <= 1180px) {
  #panier_title-icon-button {
    position: relative;
    left: -18vw;
    transition: 0.5s;
  }
}

@media screen and (width <= 1100px) {
  #section-produit_total p {
    /* border: 3px dotted red; */
    font-size: 0.85em;
    width: 100%;
  }

  #valid_button button {
    top: -11vh;
    right: 7%;
    height: 9vh;
  }
}

@media screen and (width <= 1137px) {
  #mon-panier_produit {
    position: relative;
    top: -16.5vh;
  }
  #valid_button button {
    height: 8vh;
  }
}

@media screen and (width <= 1040px) {
  #produit_text_ref {
    /* border: 1px dotted red; */
    height: 5vh;
    width: 13vw;
  }

  #produit_text_price {
    /* border: 1px dotted red; */
    height: 5vh;
    width: 18vw;
    left: -4.5vw;
  }

  #produit_delete {
    left: 17vw;
    top: -6.5vh;
  }

  #produit_quantity {
    width: 13vw;
    top: -2vh;
  }
}

@media screen and (width <= 950px) {
  #section-produit_total {
    position: relative;
    left: -4vw;
  }

  #produit_text_price {
    left: -7vw;
  }

  #produit_delete {
    left: 14.5vw;
  }
}

@media screen and (width <= 854px) {
  #produit_text_ref {
    width: 16vw;
  }

  #section-produit_total {
    position: relative;
    left: -10vw;
  }
}

@media screen and (width <= 790px) {
  #mon-panier_produit_commande {
    flex-direction: column;
  }

  #mon-panier_produit {
    top: 0;
    right: 4vw;
    width: 90%;
  }

  #panier_title-icon-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 9vw;
  }

  #panier_title-icon-button {
    left: -25vw;
  }

  #section-produit_total {
    /* border: 1px solid red; */
    width: 23vw;
    position: relative;
    left: 2vw;
  }

  #produit_text_price {
    left: 3vw;
  }

  #produit_delete {
    left: 27vw;
  }

  #produit_quantity {
    width: 20vw;
  
  }

  #produit_quantity {
    display: flex;
    flex-direction: row;
    gap: 5.5vw;
  }
}

@media screen and (width <= 752px) {
  #produit_text_price {
    left: -3vw;
  }

  #produit_delete {
    left: 21vw; 
  }

  #section-produit_total {
    position: sticky;
  }
}

@media screen and (width <= 720px) {


  #section-produit_total {
    position: relative;
    left: -3vw;
  }

}

@media screen and (width <= 698px) {
  #produit_text_ref {
    width: 18vw;
  }
}

@media screen and (width <= 662px) {
  #panier_title-icon {
    position: relative;
    left: -5vw;
  }

  #panier_title-icon-button {
    position: sticky;
    margin-top: 4.5vh;
    padding-right: 2.5vw;
  }

  #panier_title-icon-button button {
    width: 20vw;
    height: 8vh;
    top: -0.5vh;
    left: -2.5vw;
  }
}

@media screen and (width <= 645px) {
  #produit_text_price {
    width: 20vw;
  }
}

@media screen and (width <= 670px) {
  #panier_title-icon-button button {
    display: inline-block;
    padding: 5px;
  }
}

@media screen and (width <= 650px) {
  #panier_title-icon-button button {
    padding: 3px;
    font-size: 22px;
  }
}

@media screen and (width <= 645px) {
  #panier_title-icon-button button {
    padding: 3px;
    position: relative;
    font-size: 22px;
  }
}

@media screen and (width <= 620px) {
  #produit_text_ref {
    width: 20vw;
  }

  #produit_text_price {
    position: relative;
    top: 6.5vh;
    left: -5vw;
  }

  #produit_delete {
    top: -0.5vh;
    left: 0;
  }

  #produit_quantity {
    gap: 4.5vw;
  }

  #section-produit_total {
    position: relative;
    left: -16vw;
  }

  #produit_text_price {
    width: 22vw;
  }
}

@media screen and (width <= 580px) {
  #produit_text_ref {
    width: 21vw;
  }

  #produit_delete {
    width: 20vw;
  }

  #section-produit_total {
    position: relative;
    left: -23vw;
  }
}

@media screen and (width <= 530px) {
  #produit_text_ref {
    width: 22vw;
  }

  #produit_text_price {
    width: 24vw;
  }

  #produit_delete {
    width: 20vw;
  }

  #produit_quantity {
    gap: 3.5vw;
  }

}

@media screen and (width <= 500px) {

  #panier_title-icon-button {
    top: 0;
  }

  #produit_text_ref {
    width: 23vw;
  }

  #panier_title-icon-button {
    position: relative;
    left: -28vw;
  }

  #panier_title-icon-button button {
    font-size: 20px;
  }

  #section-produit_total {
    position: relative;
    left: -26vw;
    top: 1vh;
  }
}
