@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adresses_body {
    background: black;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    gap: 2em;
}

.adresses_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adresses_tables {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.adresses_titles {
    border: 1px solid white;
    text-align: center;
    width: 7vw;
    height: 12vh;
    padding-top: 2vh;
    margin-bottom: 8px;
}

.icons {
    border: 1px solid white;
    text-align: center;
    font-size: 30px;
    padding-top: 1vh;
    Width: 7vw;
    height: 12vh;
    position: relative;
    top: -0.5vh;
}

i {
    font-size: 1.5em;
}

.pen-square:hover {
    color: greenyellow;
    cursor: pointer;
}

.trash:hover {
    color: rgb(254, 59, 59);
    cursor: pointer;
}

.link_style {
    text-decoration: none;
    color: white;
}

.adresses_footer {
    padding-top: 8vh;
    padding-bottom: 2vh;
    border: none;
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
    border-top: 2em solid black;
}

.adresses_footer:hover {
    color: red;
    cursor: pointer;
}