@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories_body {
    background: black;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    gap: 2em;
}

.categories_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 2em;
}

.categories_tables {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categories_title_info {
    height: 14.1vh;
    width: 11vw;
    border: 1px solid white;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    padding-top: 1em;
}

.categories_set_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    height: 14.1vh;
    width: 11vw;
}

.pen-square,
.trash {
    font-size: 2.5em;
    margin-right: 8px;
    color: white;
}

p .trash {
    position: relative;
    bottom: 0.8em;
    font-size: 2em;
}

i {
    font-size: 1.5em;
}

.pen-square:hover {
    color: greenyellow;
    cursor: pointer;
}

.trash:hover {
    color: rgb(254, 59, 59);
    cursor: pointer;
}

.categories_footer {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
    border-top: 2em solid black;
}

.categories_footer:hover {
    color: red;
    cursor: pointer;
}

.categories_link-style {
    text-decoration: none;
    color: black;
}

.categories_link-style:hover {
    color: red;
    cursor: pointer;
}

