@media screen and (width <= 1805px) {
  #commande_total-achats {
    width: 100%;
    position: relative;
    left: 8%;
  }

  .total_fees_command {
    position: relative;
    right: 1.5vw;
  }

  .total_purchases {
    position: relative;
  }
}

@media screen and (width <= 1760px) {
  #commande_total {
    /* border: 4px dashed rgb(254, 4, 254); */
    display: inline-block;
    height: 4.5vh;
  }

  #total-command_title {
    position: relative;
    left: -42%;
  }

  #total-command_amount {
    position: relative;
    left: 78%;
    bottom: 4vh;
    /* border: 2px solid red; */
    width: 5vw;
  }

  #total_tva_command {
    position: relative;
    bottom: 0vh;
  }

  #commande_tva {
    /* border: 2px dotted red; */
    display: inline-block;
    height: 4.5vh;
    position: relative;
    bottom: 4vh;
    left: 0.3vw;
  }

  #tva-title {
    position: relative;
    left: -25%;
    display: inline-block;
    /* border: 2px solid red; */
  }
  
  #tva-amount {
    /* border: 2px dotted red; */
    display: inline-block;
    position: relative;
    left: 29%;
    bottom: 0;
  }

  #achats_panier_buttons button {
    position: relative;
    bottom: 4vh;
    right: 1vw;
  }
}

@media screen and (width <= 1750px) {
  .fees_price {
    display: inline-block;
    position: relative;
    left: 80%;
    bottom: 4.2vh;
    /* border: 2px dotted red; */
  }

  .total_fees_command {
    display: inline-block;
    width: 8vw;
  }

  #shipping-fees_title {
    display: inline-block;
    /* border: 4px solid red; */
    width: 9vw;
    position: relative;
    right: 92%;
  }

  #commande_frais-de-ports {
    display: inline-block;
    width: 8vw;
  }

  #free-shipping {
    position: relative;
    bottom: 4vh;
  }

  #total_tva_command {
    position: relative;
    bottom: 3.5vh;
  }

  #achats_panier_buttons button {
    position: relative;
    bottom: 7.5vh;
  }
}

@media screen and (width <= 1510px) {
  .fees_price {
    display: inline-block;
    width: 9vw;
    position: relative;
    left: 6vw;
    bottom: 5vh;
    /* border: 2px dotted red; */
  }
}

@media screen and (width <= 1490px) {
  #total_tva_command {
    position: relative;
    bottom: 7vh;
  }

  #achats_panier_buttons button {
    position: relative;
    bottom: 12vh;
    right: 1vw;
  }
}

@media screen and (width <= 1455px) {
  .total_purchases {
    width: 10vw;
    /* border: 3px solid rgba(251, 0, 247, 0.251); */
    position: relative;
    left: 8.1vw;
    bottom: 5vh;
  }

  #commande_total-achats {
    display: inline-block;
    /* border: 3px solid blue; */
    width: 100%;
    position: relative;
    left: -1vw;
  }

  #commande_frais-de-ports {
    position: relative;
    bottom: 5vh;
  }

  #purchases-amout_title {
    /* border: 2px dashed red; */
    display: inline-block;
    width: 12vw;
    font-size: 28px;
    position: relative;
    left: -3vw;
  }

  #shipping-fees_title {
    position: relative;
    left: -6.5vw;
  }

  .fees_price {
    position: relative;
    bottom: 5vh;
  }

  #free-shipping {
    position: relative;
    bottom: 10vh;
    left: 0.5vw;
  }

  #commande_total {
    position: relative;
    bottom: 5vh;
  }

  #commande_tva {
    position: relative;
    bottom: 9vh;
  }

  #achats_panier_buttons button {
    position: relative;
    bottom: 17vh;
  }
}

@media screen and (width <= 1390px) {
  #purchases-amout_title {
    /* border: 2px dashed red; */
    width: 13vw;
  }
}

@media screen and (width <= 1342px) {
  .fees_price {
    width: 10vw;
  }
}

@media screen and (width <= 1290px) {
  #achats_panier_buttons button {
    position: relative;
    bottom: 18vh;
    font-size: 20px;
  }
}

@media screen and (width <= 1280px) {
  #purchases-amout_title {
    width: 14vw;
  }
}

@media screen and (width <= 1230px) {

  #command_texts{
    border: 2px dotted red;
    font-size: 0.8em;
    transition: 0.5s;
    height: 20vh;
    width: 105%;
    position: relative;
    bottom: 1vh;
  }

  #purchases-amout_title {
    font-size: 1em;
    position: relative;
    bottom: 1vh; 
  }

  #shipping-fees_title {
    width: 13vw;
    position: relative;
    left: -8vw;
  }

  .fees_price {
    position: relative;
    bottom: 4vh;
    left: 5vw;
    transition: 0.5s; 
  }
}