@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Code+Pro:wght@400;600;700&display=swap');

.setUser_form {
    z-index: 0;
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 254, 254);
    padding: 2rem;
    width: 40vw;
    border-radius: 10px;
    position: relative;
    left: 0;
}

.setUser_add_form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    position: relative;
    left: 30vw;
    border: 16px solid black;
    border-radius: 20px;
}

.setUser_dashboard_link {
    font-size: 3rem;
    text-align: center;
    margin-top: 18vh;
    color: black;
    text-decoration: underline;
    margin-bottom: 3rem;
    position: relative;
    left: 15vw;
}

.setUser_dashboard_link:hover {
    color: rgb(223, 21, 21);
    cursor: pointer;
}


.setUser_add_user {
    color:black;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}


.setUser_label {
    position: relative;
    right: 9.5rem;
    font-size: 2em;
}

.setUser_input {
    width: 30vw;
    height: 50px;
    margin-bottom: 1rem;
    padding-left: 10px;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid black;
}

.setUser_button {
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    font-size: 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}

.setUser_button:hover {
    background: yellow;
    color: black;
    border: 3px solid black;
    font-weight: 600;
}

.setUser_button_delete {
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    font-size: 1.7rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}

.setUser_button_delete:hover {
    background: red;
    color: black;
    border: 3px solid black;
    font-weight: 600;
}