@media screen and (width <= 1770px) {
  .first-header-right {
    position: relative;
    left: 3em;
  }
}

@media screen and (width <= 1630px) {
  .first-header-right {
    position: relative;
    left: 1em;
  }

  .logo-panier {
    position: relative;
    right: 15px;
  }
}

@media screen and (width <= 1510px) {
  .first-header-right {
    position: relative;
    left: -1em;
  }
}

@media screen and (width <= 1480px) {
  .header-logo-links {
    position: relative;
    left: 1em;
  }

  .first-header-left {
    position: relative;
    left: 0.8em;
    margin-right: 2em;
  }

  .first-header-right {
    position: relative;
    left: -4em;
    margin-left: 4em;
  }

  .logo-panier {
    position: relative;
    left: 13px;
  }
}

@media screen and (width <= 1445px) {
  /* HEADER */

  nav ul li {
    font-size: 14px;
  }

  #stages-couture-link-header {
    width: 6em;
  }

  #nav-accueil {
    position: relative;
  }

  .first-header-right i {
    position: relative;
    right: 15px;
  }

  #nav-li-contact {
    position: relative;
    right: 1em;
  }

  .nav-contact-histoire {
    display: flex;
    gap: 2em;
    position: relative;
    right: 3em;
  }
}

@media screen and (width <= 1360px) {
  .first-header-left {
    position: relative;
    left: 3.2em;
  }

  #nav-li-contact {
    position: relative;
    right: 3em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -4em;
  }

  .first-header-right {
    display: flex;
    gap: 0.5em;
    position: relative;
    left: -5.5em;
  }

  .first-header-right i {
    position: relative;
    left: 15px;
  }
}

@media screen and (width<=1330px) {
  .social-div {
    position: relative;
    left: -2.5em;
  }
}

@media screen and (width <= 1230px) {
  .first-header-left {
    position: relative;
    left: 8.5em;
  }

  .header-logo-links-left {
    position: relative;
    left: 6.7em;
    gap: 1.3em;
  }

  #nav-li-contact {
    position: relative;
    left: -1em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -4.5em;
  }

  .first-header-right {
    position: relative;
    left: -7em;
  }
}

@media screen and (width <= 1190px) {
  #logo-waxandsea-header {
    position: relative;
    left: -3.5em;
  }
}

@media screen and (width <= 1110px) {
  .first-header-left {
    position: relative;
    left: 12em;
  }

  .header-logo-links-left {
    position: relative;
    left: 10.5em;
  }

  #nav-li-contact {
    position: relative;
    left: -1em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -3.2em;
  }

  .first-header-right {
    position: relative;
    left: -9em;
  }

  #cart_title {
    position: relative;
    left: 5em;
  }

  #signup_title {
    position: relative;
    left: 2em;
  }
}

@media screen and (width <= 1070px) {
  .accueil-link {
    position: relative;
    left: -4.5em;
  }
}

@media screen and (width <= 980px) {
  .social-div {
    position: relative;
    left: -1.5em;
  }

  .accueil-link {
    position: relative;
    left: -7.5em;
  }

  .nav-connexion {
    position: relative;
    left: 1.5em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -1em;
  }
}

@media screen and (width <= 981px) {
  .header-logo-links-left {
    position: relative;
    left: 8em;
  }

  .accueil-link {
    position: relative;
    left: -2em;
  }

  .connexion-link {
    position: relative;
    left: -2.5em;
  }

  .first-header-right {
    position: relative;
    left: -10em;
  }
}

@media screen and (width <= 935px) {
  /* HEADER */
  .social-div {
    position: relative;
    left: -5em;
  }

  .header-logo-links-left {
    position: relative;
    font-size: 1.6em;
  }

  .accueil-link {
    position: relative;
    left: -7.5em;
  }

  .connexion-link {
    position: relative;
    left: -9em;
  }

  .first-header-right {
    position: relative;
    margin: 0;
    left: -8.2em;
    font-size: 1.6em;
    display: flex;
    gap: 1em;
  }

  #payment_title {
    position: relative;
    left: 3em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -6em;
  }

  #signup_title {
    position: relative;
    left: 1em;
  }
}

@media screen and (width <= 845px) {
  /* HEADER */

  header {
    position: fixed;
    top: 0;
    z-index: 1;
   }

  .first-header {
    display: flex;
    flex-direction: row;
    right: 0;
  }

  .social-div {
    position: relative;
    left: -15em;
  }

  .accueil-link {
    position: relative;
    left: -8.5em;
  }

  .connexion-link {
    position: relative;
    left: -10em;
  }

  .first-header-right {
    position: relative;
    left: -15.5em;
    font-size: 25px;
  }

  #cart_title {
    position: relative;
    left: 5.4em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -17em;
  }

  .first-header-left {
    position: relative;
    left: 15em;
  }

  .header-logo-links-left {
    position: relative;
    left: 4.5em;
  }

  .first-header-right {
    position: relative;
    left: -16.5em;
  }

  #stages-couture-link-header {
    position: relative;
    left: 9em;
  }

  #nav-accueil {
    position: relative;
    left: 9em;
  }

  .first-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (width <= 830px) {
  .header-logo-links li a {
    font-size: 2em;
  }

  .social-div {
    position: relative;
    left: -16em;
  }

  .header-logo-links-left {
    position: relative;
    /* border: 3px solid red; */
    left: 20em;
    display: flex;
    gap: 20em;
    font-size: 0.5em;
  }

  .accueil-link .connexion-link {
    position: relative;
    left: -3em;
  }

  .accueil-link {
    position: relative;
    left: -10.8em;
  }

  .connexion-link {
    position: relative;
    left: -16.2em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -28em;
  }

  .first-header-right {
    position: relative;
    left: -22.2em;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (width <= 770px) {
  .social-div {
    position: relative;
    left: -8;
  }

  .logo-enveloppe {
    position: relative;
    top: 5px;
    right: 13px;
    font-size: 30px;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -10;
  }

  .first-header-right {
    position: relative;
    left: -23.4em;
    display: flex;
    flex-direction: row;
  }

}

@media screen and (width <= 750px) {
  /* HEADER */

  #logo-waxandsea-header {
    position: relative;
    left: -28em;
  }

  .first-header-right {
    position: relative;
    left: -25.5em;
    bottom: 0.9em;
  }

  #cart_title {
    position: relative;
    top: 1em;
    left: 7.5em;
  }

  #payment_title {
    position: relative;
    top: 25px;
    left: 5em;
  }

  #signup_title {
    position: relative;
    left: 2.3em;
    bottom: -1em;
  }
}

@media screen and (width <= 710px) {
  .first-header-left {
    position: relative;
  }

  .social-div {
    position: relative;
    left: -16.5em;
  }

  .accueil-link {
    position: relative;
    left: -11em;
  }

  .nav-connexion {
    position: relative;
    left: 0;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -30em;
  }

  .first-header-right {
    position: relative;
    left: -27em;
  }

  .logo-panier {
    position: relative;
    top: 5px;
  }
}

@media screen and (width <= 655px) {
  /* HEADER */
  .first-header {
    font-size: 12px;
  }

  .social-div {
    position: relative;
    left: -14.5em;
  }

  .logo-enveloppe {
    margin-top: 4px;
  }

  #facebook-icon-header {
    height: 3em;
    width: 3em;
    margin-top: 5px;
  }

  #instagram-icon-header {
    height: 3em;
    width: 3em;
    margin-top: 5px;
  }

  .header-logo-links-left {
    position: relative;
    left: 1em;
  }

  #nav-li-contact {
    position: relative;
    left: -7em;
    margin-bottom: 15px;
  }

  #nav-li-mon-histoire {
    position: relative;
    left: -5em;
  }

  #logo-waxandsea-header {
    position: relative;
    left: -28em;
  }

  #accueil-link {
    position: relative;
    left: 7.5em;
  }

  .accueil-link {
    position: relative;
    left:-6.3em;
  }

  .nav-connexion {
    position: relative;
    left: 28em;
  }

  .first-header-left {
    position: relative;
    left: 13.2em;
  }

  .header-logo-links {
    position: relative;
    left: 5em;
  }

  .first-header-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -21.1em;
    top: -0.5em;
  }

  #cart_title {
    position: relative;
    top: 1.5em;
    left: 5.5em;
  }

  #payment_title {
    position: relative;
    top: 10px;
    left: 6.2em;
  }

  #signup_title {
    position: relative;
    left: 6em;
    bottom: 0.6em;
  }
}

@media screen and (width <= 560px) {
  .header-logo-links-left {
    position: relative;
    left: 15em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid red; */
    }

  #logo-waxandsea-header {
    position: relative;
    left: -15em;
  }

  .header-logo-links li a {
    font-size: 1.8em;
  }

  .accueil-link {
    position: relative;
    left: -10.3em;
    top: 0.7em;
  }

  .connexion-link {
    position: relative;
    left: -14em;
    bottom: 0.8em;

  }

  .social-div {
    position: relative;
    left: -14.5em;
  }

  .logo-enveloppe {
    position: relative;
    right: 13px;
  }

  .first-header-right {
    position: relative;
    left: -16em;
  }
}
