@media screen and (height <= 760px) {
    .PanierLivraison {
        height: 150vh;
    }

    #command_component_delivery {
        position: relative;
        top: -30vh;
        left: 2.5vw;
    }

    #confirm_delivery button {
        position: relative;
        top: 21vh;
        left: -5vw;
    }

    #colissimo_mondial-relay_container {
        position: relative;
        top: 8vh;
    }

    #mondial-relay_section {
        position: relative;
        top: 12vh;
        height: 50vh;
    }
}

@media screen and (width <= 1910px) and (max-height: 920px) {
    #confirm_delivery button {
        position: relative;
        top: -10vh;
        left: -4.5vw;
    }
}

@media screen and (width <= 1480px) and (max-height: 920px) {
    #confirm_delivery button {
        position: relative;
        top: -11vh;
        left: -2.6vw;
    }
}

@media screen and (width <= 1255px) and (max-height: 950px) {
    #confirm_delivery button {
        height: 7vh;
    }
}
