@media screen and (width <= 2400px) {
  
  #last_name_label {
    position: relative;
    left: -0.2em;
  }

  #last-name_label_input {
    position: relative;
    left: -1vw;
  }

  #company-name_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* border: 2px dashed red; */
    position: relative;
    top: 30px;
    left: 17vw;
    height: 130px;
    width: 65vw;
  }

  #company-name_form_container label {
    position: absolute;
    top: -105px;
    left: 8.5vw;
  }

  #company-name_form_container input {
    position: relative;
    left: 8vw;
    width: 98%;
  }

  #company-name_label_input {
    position: relative;
    top: 20px;
    left: -8vw;
  }

  #confirm_button button {
    position: relative;
    left: 3.3vw;
  
  }

  #billing-adress_form {
    position: relative;
    left: -3.5vw;
  }

  #delivery_same-adress {
    left: -22.5vw;
  }

  #delivery-adress_form {
    left: 5vw;
  
  }
}

@media screen and (width <= 1530px) {
  #social-status_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #social-status_title {
    position: relative;
    left: -0.2em;
  }

  #company_name {
    position: fixed;
  }

  #company-name_label_input {
    position: relative;
    left: -28vw;
  }

  #company-name_form {
    padding: 1rem 0;
    width: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 0;
  }

  #company-name_form_container {
    /* border: 2px dashed red; */
    position: relative;
    top: 40px;
    left: 0;
    height: 110px; 
    width: 64vw;
    padding: 0 15px; /* Ajout de padding pour l'esthétique */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    
  }

  #company-name_label_input {
    position: relative;
    top: 50px;
    left: -16vw;
  }

  #company-name_form_container label {
    border: 2px dotted blue;
    position: absolute;
    top: -105px;
    left: 15vw;
  }

  #company-name_form input {
    position: relative;
    left: 15vw;
    width: 63vw;
  }

  #billing-adress_title {
    position: relative;
    left: -18vw;
  }

  #street-name-number label {
    position: relative;
    left: -13.5vw;
  }

  #postal-code label {
    position: relative;
    left: -3.5vw;
  }

  #billing-adress_country {
    position: relative;
    left: -15vw;
  }

  #billing-city label {
    position: relative;
    left: -8vw;
  }

  #billing_phone-number label {
    position: relative;
    left: -4vw;
  }

  #billing_email-adress label {
    position: relative;
    left: 0;
  }

  #billing_adress_form {
    position: relative;
    left: -3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  #delivery_adress_form {
    position: relative;
    left: -3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  #confirm_button button {
    position: relative;
    top: 4vh;
    left: 1vw;
    height: 10vh;
  }
}

@media screen and (width <= 1065px) {
  #company-name_form_container label {
    width: 100%;
    text-align: left;
  }
}
