@media screen and (width <= 1780px) {
    .users_set_icons {
        display: flex;
    }

    .phonenumber {
        position: relative;
        left: 1em;
    }
}

@media screen and (width <= 1730px) {
    .number {
        position: relative;
        left: -8vw;
    }

    .firstname {
        position: relative;
        left: -1.5vw;
    }

    .lastname {
        position: relative;
        left: -8vw;
    }

    .phonenumber {
        position: relative;
        left: 1vw;
    }

    .role {
        position: relative;
        left: 5vw;
    }

    .users_set_icons {
        position: relative;
        left: 3.5vw;
    }
}

@media screen and (width <= 1620px) {
    .number {
        position: relative;
        left: -8vw;
    }

    .firstname {
        position: relative;
        left: -1vw;
    }

    .lastname {
        position: relative;
        left: -7vw;
    }

    .phonenumber {
        position: relative;
        left: 2vw;
    }  
    
    .role {
        position: relative;
        left: 6vw;
        font-size: 28px;
    }
}

@media screen and (width <= 1490px) {
    .number {
        position: relative;
        left: -7vw;
    }

    .firstname {
        position: relative;
        left: 1vw;
    }

    .lastname {
        position: relative;
        left: -6vw;
    }

    .phonenumber {
        position: relative;
        left: 3vw;
    }  
    
    .role {
        position: relative;
        left: 6vw;
        font-size: 30px;
    }

    .users_set_icons {
        font-size: 23px;
        left: 4vw;
    }
}

@media screen and (width <= 1390px) {
    .utilisateur {
        width: 82vw;
    }

    .users_table {
        width: 82vw;
    }

    .users_set_icons {
        position: relative;
        left: -2.5vw;
    }

    #phonenumber-title {
        position: relative;
        left: 3.5vw;
    }

    .number {
        position: relative;
        left: -8vw;
    }

    .firstname {
        position: relative;
        left: -2vw;
    }

    .lastname {
        position: relative;
        left: -9vw;
    }

    .phonenumber {
        position: relative;
        font-size: 30px;
        left: -1.5vw;
    }

    .role {
        position: relative;
        left: 0;
    }
}

@media screen and (width <= 1280px) {
    #id_box {
        position: relative;
        left: -5vw;
        width: 18vw;
    }

    #id_title {
        width: 2.5vw;
        height: 60px;
        position: relative;
        left: 5.5vw;
    }

    #firstname_box {
        width: 19vw;
        position: relative;
        left: -5vw;
    }

    #firstname_id {
        position: relative;
        left: 2.5vw;
        top: 4.5vw;
        width: 7.5vw;
        height: 50px;
    }

    #lastname_box {
        width: 25%;
        position: relative;
        left: -5vw;
    }

    #name_id {
        position: relative;
        width: 4.5vw;
        left: 4vw;
        top: 4vw;
    }

    .utilisateur {
        width: 80vw;
    }

    #phonenumber_box {
        width: 30vw;
        position: relative;
        left: -5vw;
    }

    #phonenumber-title {
        width: 9.5vw;
        position: relative;
        left: 4vw;
    } 

    .phonenumber {
        width: 10vw;
        position: relative;
        left: -4vw;
    }

    .identifiants h4 {
        left: -0.5vw;
        width: 26vw;
    }

    #role_box {
        border-right: 1px solid white;
        width: 20vw;
        position: relative;
        left: -5vw;
    }

    #role {
        border: none;
        padding: 0;
        width: 4vw;
        height: 60px;
        position: relative;
        left: 4vw;
        top: 3vw;
    }

    .number {
        position: relative;
        left: -11vw;
    }

    .role {
        width: 16.6%;
        position: relative;
        left: -1vw;
    }

    .firstname {
        position: relative;
        left: -7vw;
    }

    .lastname {
        position: relative;
        left: -15vw;
    }

    #setuser_box {
        margin: 0;
        padding: 0;
        position: relative;
        left: -5vw;
        width: 18vw;
    }

    #set_user {
        position: relative;
        top: 3vw;
        left: 7vw;
        width: 8vw;
        font-size: 1.6em;
    } 

    .users_table {
        width: 90vw;
    }

    .users_set_icons {
        position: relative;
        left: -2vw;
    
    }
}

@media screen and (width <= 1160px) {
    #set_user {
        position: relative;
        left: 6.5vw;
    }

    .number {
        position: relative;
        left: -8vw;
    }

    .utilisateur {
        width: 80vw;
    }

    .firstname {
        position: relative;
        left: -3vw;
    }

    .lastname {
        position: relative;
        left: -13vw;
    }

    .phonenumber {
        position: relative;
        left: -1vw;
        width:18vw;
    }

    .phonenumber h1 {
        width: 12vw;
        left: -0.2vw;
    }

    .role {
        position: relative;
        left: -3vw;
    }

    .users_set_icons {
        font-size: 25px;
        position: relative;
        left: -3vw;
    }
}

@media screen and (width <= 1120px) {
    .identifiants {
        width: 80vw;
    }

    #firstname_box {
        width: 18vw;
    }

    #firstname_id {
        position: relative;
        left: 3vw;
    }

    #lastname_box {
        width: 22vh;
    }

    #lastname {
        width: 20vw;
    }

    #phonenumber_box {
        /* border: 2px solid red; */
        width: 20vw;
    }

    #phonenumber-title {
        position: relative;
        left: 3vw;
    }

    #role_box {
        position: relative;
        width: 18vw;
    }

    #role {
        position: relative;
        left: 5vw;
        top: 6vh;
    }

    #setuser_box {
        position: relative;
        left: 2vw;
        width: 5vw;
    }

    #set_user {
        position: relative;
        left: -5.5vw;
        width: 12vw;
    }

    .number {
        position: relative;
        left: -4vw;
    }

    .firstname {
        position: relative;
        left: 2vw;
    }

    .lastname {
        position: relative;
        left: -6.5vw;
    }

    .phonenumber {
        position: relative;
        left: 5vw;
    }

    .role {
        position: relative;
        left: 2vw;
    }

    .users_set_icons {
        position: relative;
        left: -4vw;
    }
}

@media screen and (width <= 1010px) {
    .identifiants {
        width: 80vw;
    }
    
    #id_box {
        border-right: 1px solid white;
        width: 10vw;
        position: relative;
        left: -5.6vw;
    }

    #id_title {
        border: none;
        padding: 0;
        position: relative;
        left: 3.5vw;
        top: 7.8vh;
        height: 60px;
    }

    #firstname_box {
        border-right: 1px solid white;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -3.5em;
    }

    #firstname_id {
        border: none;
        height: 60px;
        position: relative;
        top: -0.5vh;
        left: -2vw;
        padding: 0px 20px 0px 20px;
    }

    #lastname_box {
        border-right: 1px solid white;
        width: 16.6%;
        position: relative;
        left: -3.5em;
    }

    #name_id {
        border: none;
        position: relative;
        top: 7.5vh;
        left: 4vw;
        height: 60px;
        width: 60px;
        padding: 0;
    }

    #phonenumber_box {
        border-right: 1px solid white;
        position: relative;
        left: -3.5em; 
        width: 20%;
    }

    #phonenumber-title {
        /* border: 2px solid rgb(2, 204, 255); */
        border: none;
        padding: 0;
        height: 60px;
        width: 118px;
        position: relative;
        left: 2vw;
        top: 7.8vh;
    }

    #setuser_box {
        /* border: 1px solid red; */
        position: relative;
        left: 5vw;
        width: 8vw;
        margin: 0;
        padding: 0;
    }
    
    #set_user {
        /* border: 1px solid rgb(229, 255, 0); */
        position: relative;
        left: -6vw;
        top: 6vh;
        width: 9vw;
    }
    
    #role {
        border: none;
        padding: 0;
        position: relative;
        top: 8vh;
        left: 7vw;
        height: 7vh;
        width: 5.5vw;
    }
    
    #role_box {
        border-right: 1px solid white;
        position: relative;
        left: -6.5vw;
        width: 18vw;
    }

    .number {
        height: 60px;
        width: 4vw;
        position: relative;
        left: 12vw;
    }

    .number h1 {
        width: 20px;
        left: 0;
    }
    
    .firstname {
        position: relative;
        left: 1.5vw;
        height: 60px;
    }

    .firstname h1 {
        left: 0;
    }
    
    .lastname {
        position: relative;
        left: -1vw;
        height: 60px;
    }

    .lastname h1 {
        left: 0;
    }
    
    .phonenumber {
        position: relative;
        left: -5vw;
        width: 12vw;
        font-size: 28px;
    }

    .phonenumber h1 {
        left: 0;
    }
    
    .role {
        position: relative;
        left: -9vw;
        width: 14vw;
    }

    .role h1 {
        left: 0;
        font-size: 33px;
    }
    
    .users_set_icons {
        display: flex;
        position: relative;
        left: -10vw;
        font-size: 22px;
    }

}

@media screen and (width <= 900px) {
    #firstname_id {
        font-size: 35px;
        left: -1vw;
    }

    #role {
        left: 5.5vw;
    }

    #phonenumber-title {
        position: relative;
        top: 65px;
        left: 3vw;
        font-size: 1.5em;
        height: 4em;
    }

    .number {
        position: relative;
        left: 17vw;
    }

    .firstname {
        position: relative;
        left: 5vw;
    }

    .lastname {
        position: relative;
        left: 1vw;
    }

    .phonenumber {
        width: 20vw;
        left: -4vw;
    }

    .phonenumber h1 {
        font-size: 24px;
        left: -3vw;
        width: 14vw;
    }

    .role {
        left: -14vw;
    }

    #set_user {
        left: -7vw;
        font-size: 30px;
        position: relative;
        top: 5vh;
    }

    .users_set_icons {
        position: relative;
        left: -18vw;
        font-size: 20px;
    }
}

@media screen and (width <= 845px) {
    .home_header {
        position: relative;
        z-index: 0;
    }

    .users_table_title {
        position: relative;
        left: 20vw;
    }

    .link-style-add {
        position: relative;
        top: 6em;
    }

    #id_title {
        position: relative;
        left: 3.5vw;
    }

    #firstname_id {
        position: relative;
        left: -1vw;
        top: -1vw;
        font-size: 30px;
    }

    #name_id {
        position: relative;
        top: 8vh;
        left: 3.5vw;
        font-size: 35px;
    }

    #phonenumber_box {
        width: 20vw;
    }

    #phonenumber-title {
        font-size: 33px;
        position: relative;
        left: 3.5vw;
    }

    .number {
        left: 22vw;
    }

    .firstname {
        left: 7vw;
        font-size: 25px;
    }

    .lastname {
        position: relative;
        left: -1vw;
        font-size: 25px;
    }

    .phonenumber {
        position: relative;
        left: -6vw;
        font-size: 23px;
        top: -1vh;
    }

    .role {
        position: relative;
        left: -15vw;
    }
}

@media screen and (width <= 770px) {
    .add-user_div {
        position: relative;
        top: 20vh;
        left: -35%;
    }
    #firstname_box {
        width: 21vw;
    }

    #firstname_id {
        position: relative;
        left: -1vw;
        top: -1vw;
        font-size: 30px;
    }

    #lastname_box {
        width: 15vw;
    }
    
    #phonenumber-title {
        position: relative;
        left: 3vw;
    }

    #role {
        left: 1vw;
    }

    #role_box {
        width: 12vw;
    }

    .number {
        left: 24vw;
    }

    .firstname {
        left: 10vw;
        font-size: 25px;
    }

    .lastname {
        font-size: 25px;
        left: 3vw;
    }

    .phonenumber {
        left: -0.5vw;
    }

    .role h1{
        font-size: 27px;
        left: 2vw;
        top: -1vw;
    }

    .users_set_icons {
        left: -20vw;
    }
}

@media screen and (width <= 680px) {
    #firstname_box {
        width: 22vw;
    }

    #firstname_id {
        position: relative;
        left: -1vw;
        top: -1vw;
        font-size: 28px;
    }

    #name_id {
        font-size: 30px;
        top: 9vh;
    }

    #role {
        left: -0.5vw;
    }

    .number {
        left: 35vw;
    }

    .firstname {
        left: 13vw;
    }

    .lastname {
        left: 3vw;
    }

    .phonenumber {
        left: -2.5vw;
    }

    .role {
        left: -19vw;
        top: 0;
    }

    .users_set_icons {
        left: -29vw;
    }
}

@media screen and (width <= 600px) {
    .number {
        left: 39vw;
    }

    .firstname {
        left: 16vw;
    }

    .phonenumber {
        left: -5vw;
    }

    .role {
        left: -22vw;
    }

    .users_set_icons {
        left: -35vw;
    }
}

@media screen and (width <= 570px) {
    #id_title {
        left: 2vw;
    }

    #firstname_box {
        width: 28vw;
    }

    #firstname_id {
        left: -1vw;
    }

    #lastname_box {
        width: 18vw;
    }

    #name_id {
        left: 5vw;
    }

    #phonenumber_box {
        width: 17vw;
    }

    #phonenumber-title {
        left: 2vw;
        font-size: 28px;
    }

    #role {
        left: -3vw;
        font-size: 32px;
    }

    #role_box {
        width: 6vw;
    }

    #setuser_box {
        width: 4vw;
    }

    #set_user {
        top: 6vh;
        left: -9.5vw;
        font-size: 25px;
    }

    .number {
        left: 40vw;
    }

    .firstname {
        left: 18vw;
    }

    .lastname {
        left: 8vw;
    }

    .phonenumber {
        top: 1vh;
        left: 1vw;
        width: 8vw;
    }

    .role h1{
        left: 6vw;
        font-size: 23px;
    }

    .users_set_icons {
        left: -34vw;
        font-size: 15px;
    }
}

@media screen and (width <= 500px) {
    .home_header {
        position: relative;
        z-index: 0;
        margin-top: 40vh;
    }

    #firstname_box {
        width: 27vw;
    }

    #firstname_id {
        left: -1.5vw;
    }

    #phonenumber-title {
        left: 1vw;
        font-size: 25px;
    }

    #role_box {
        width: 8vw;
    }

    #role {
        left: -5vw;
    }

    #set_user {
        left: -10vw;
        font-size: 23px;
    }

    .number {
        left: 48vw;
    }

    .firstname {
        left: 20vw;
    }

    .lastname {
        left: 5vw;
    }

    .phonenumber {
        left: -4vw;
    }

    .role {
        left: -30vw;
    }

    .users_set_icons {
        left: -45vw;
        font-size: 13px;
    }
}